body {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.container {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
}

.one-fourth {
  width: 25%;
}

.pics {
  width: 100%;
}

.one-third {
  width: calc(100%/3);
}

.item {
  width: 100%;
}

.two-thirds {
  width: calc((100%/3) *2);
}
