.row,
.mini-row {
  display: flex;
  align-items: baseline;
}

.column-100,
.column-6 {
  display: flex;
  flex-direction: column;
}

.column-100 {
  flex-basis: 100%;
  align-items: center;
  font-size: 2rem;
}

.column-6 {
  width: 20%;
}

.black {
  font-size: 0.8rem;
  margin-right: 0.2rem;
}

.grey {
  font-size: 0.8rem;
  color: lightgray;
  margin-left: 0.2rem;
  margin-top: 0.8rem;
  border-left: 2px black;
}

.grey1 {
  font-size: 1rem;
  color: lightgray;
}
