.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.btn {
  width: 14rem;
  height: 5rem;
  font-size: 2rem;
  border: 3px solid black;
  color: white;
  background-color: #552b80;
  box-shadow: 5px 5px 5px black;
}

.btn:hover {
  cursor: pointer;
}

.light-purple {
  background-color: #674ea7;
}

.coral {
  background-color: lightcoral;
}

.salmon {
  background-color: lightsalmon;
  color: black;
}

.yellow {
  background-color: yellow;
  color: black;
}

.white {
  background-color: white;
  color: black;
}
